*{
    margin:0px;
}

.dvNavBar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background-color: rgba(35, 35, 35, 0.475);
    img{
        width: 150px;
    }
    span{
        display: flex;
        align-items: center;
        width: 60%;
    }
    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 40%;
        a{
            font-size: large;
        }
    }
}

header{
    width: 100%;
    height: 700px;
    background-color: red;
    text-align: center;
}

main{
  width: 100%;
  section{
    width: 100%;
    height: 800px;
  }
}

.about{
  background-color: white;
}

.restaurantMenu{
    background-color: aqua
}
.bookNow{
    background-color: purple;
}
.feedback{
    background-color: rgb(250, 250, 93);
}