*{
    margin:0px;
}

.dvNavBar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background-color: rgba(35, 35, 35, 0.475);
    img{
        width: 150px;
    }
    span{
        display: flex;
        align-items: center;
        width: 60%;
    }
    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 40%;
        a{
            font-size: large;
            color:white;
            text-decoration: none;
        }
    }
}

@mixin headerFontConfig{
    color: white;
    font-weight: 1000;
     text-shadow: 
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    -1px -1px 0 black,  /* Top-left shadow */
     1px -1px 0 black,  /* Top-right shadow */
    -1px  1px 0 black,  /* Bottom-left shadow */
     1px  1px 0 black;  /* Bottom-right shadow */
}
header{
    background-image:url(ImgResources/Background/GustovRestaurant.png) ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: red;
    text-align: center;
    h1{
        @include headerFontConfig();
    }

    h2{
        
        @include headerFontConfig();
    }
}

main{
  width: 100%;
  section{
    width: 100%;
    height: 800px;
  }
}

.about{
  background-color: white;
}

.restaurantMenu{
    background-color: aqua
}
.bookNow{
    background-color: purple;
}
.feedback{
    background-color: rgb(250, 250, 93);
}