*{
    margin:0px;
    color: white;
}

@mixin headerFontConfig($color){
    color:$color;
    font-weight: 1000;
     text-shadow: 
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    -1px -1px 0 black,  /* Top-left shadow */
     1px -1px 0 black,  /* Top-right shadow */
    -1px  1px 0 black,  /* Bottom-left shadow */
     1px  1px 0 black;  /* Bottom-right shadow */
}
@mixin backgroundImgConfig($backgroundImg,$size){
    background-image: url($backgroundImg);
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin glassBackground{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.67);
}
.dvNavBar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background-color: rgba(35, 35, 35, 0.475);
    height:auto;
    span{
        display: flex;
        align-items: center;
        width: 60%;
        img{
            min-width:150px;
            width: 10%;
            height: 90px;
        }
        h1{
            @include headerFontConfig(#D4AF37);
        }
    }
    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 40%;
        a{
            font-size: large;
            color:white;
            text-decoration: none;
            margin-right: 5px;
        }
    }
}


header{
    /*background-image:url(ImgResources/Background/GustovRestaurant.png) ;
    background-repeat: no-repeat;
    background-size:100% 100%; */
    @include backgroundImgConfig("ImgResources/Background/GustovRestaurant.png",100% 100% );
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: red;
    text-align: center;
    h1{
        @include headerFontConfig(white);
    }

    h2{
        
        @include headerFontConfig(white);
    }
}

main{
  width: 100%;
  section{
    width: 100%;
    height: 800px;
  }
}
@mixin flexCenter{
    display: flex;
    align-items: center;
}
.about{
  background-color: white;
  @include backgroundImgConfig("ImgResources/Background/GustovInnerBackground.png", cover);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
        margin-bottom: 50px;
    }
  div{
    width: 100%;
    @include flexCenter();
    article{
        margin-left: 10px;
        width:500px;
        height: 300px;
        @include glassBackground();
    }
  }
}

.restaurantMenu{
    height: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include backgroundImgConfig("ImgResources/Background/GustovInnerBackground2.png",cover );
    div{
        width: 80%;
    }
    ol{
        width: 95%;
        height: 200px;
        @include glassBackground();
        list-style-type: none;
        display: flex;
        overflow-x: scroll;
        margin-bottom: 20px;
        li{
            flex-shrink: 0;
            width: 200px;
            height: 90%;
            border: 2px solid rgba(255, 255, 255, 0.67);
            margin-right: 40px;
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            img{
                border: 1px solid rgba(255, 255, 255, 0.67);
                width: 90%;
                height: 70%;
                margin: 5px;
            }
        }
    }
}

@mixin bookConfig($width){
    width: $width;
    height: 100%;
}
@mixin sectionCenterConfig(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin dvFormConfig($width, $height,$direction){
    width:$width ;
    height: $height;
    display: flex;
    flex-direction: $direction;
}
.csBook{
    background-color: rgb(128, 64, 0);
    @include sectionCenterConfig();
    div{
        @include dvFormConfig(80%,90% ,row );
        .dvBookBackground{
            @include bookConfig(40%);
            @include backgroundImgConfig("ImgResources/Background/GustovTable.png",100% 100% )
        }
        .dvBookForm{
            @include bookConfig(60%);
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                    margin-bottom: 20px;
                }
            form{
                width:90%;
                height: 90%;
                border-style: solid;
                

            }
        }
        
    }
}
.csFeedback{
    background-color: rgb(128, 64, 0);;
    @include sectionCenterConfig();
    div{
        @include dvFormConfig(95%, 90%,row );
        .dvContactBackground{
            @include bookConfig(40%);
            @include backgroundImgConfig("ImgResources/Background/Gustov.png",100% 100%)
        }
        .dvContactForm{
            @include bookConfig(60%);
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                    margin-bottom: 20px;
                }
            form{
                width:90%;
                height: 90%;
                
                
            }
        }
        
    }
}

@media screen and (max-width: 600px)  {
    .dvNavBar{
        flex-direction: column;
        align-items:flex-start;
        nav{
            justify-content: space-around;
            width: 80%;
        }
    }
    header{
        height: 920px;
    }
    main{
        section{
            height: 920px;
        }
    }
}