*{
    margin:0px;
}

@mixin headerFontConfig($color){
    color:$color;
    font-weight: 1000;
     text-shadow: 
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    -1px -1px 0 black,  /* Top-left shadow */
     1px -1px 0 black,  /* Top-right shadow */
    -1px  1px 0 black,  /* Bottom-left shadow */
     1px  1px 0 black;  /* Bottom-right shadow */
}
.dvNavBar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background-color: rgba(35, 35, 35, 0.475);
    height:auto;
    img{
        min-width:150px;;
        width: 10%;
        height: 60%;
    }
    span{
        display: flex;
        align-items: center;
        width: 60%;
        h1{
            @include headerFontConfig(#D4AF37);
        }
    }
    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 40%;
        a{
            font-size: large;
            color:white;
            text-decoration: none;
            margin-right: 5px;
        }
    }
}


header{
    background-image:url(ImgResources/Background/GustovRestaurant.png) ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: red;
    text-align: center;
    h1{
        @include headerFontConfig(white);
    }

    h2{
        
        @include headerFontConfig(white);
    }
}

main{
  width: 100%;
  section{
    width: 100%;
    height: 800px;
  }
}

.about{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  div{
    width:500px;
    height: 300px;
    border-style: solid;
    border-color: blue;
    background-color: black;
  }
}

.restaurantMenu{
    height: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width: 80%;
    }
    ol{
        width: 95%;
        height: 200px;
        background-color: red;
        list-style-type: none;
        display: flex;
        li{
            width: 200px;
            height: 90%;
            border-style: solid;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            img{
                width: 90%;
                height: 60%;
                border-style: solid;
                margin: 5px;
            }
        }
    }
}
.csBook{
    background-color: purple;
}
.csFeedback{
    background-color: rgb(250, 250, 93);
}

@media screen and (max-width: 600px)  {
    .dvNavBar{
        flex-direction: column;
        align-items:flex-start;
        nav{
            justify-content: space-around;
            width: 80%;
        }
    }
    header{
        height: 920px;
    }
    main{
        section{
            height: 920px;
        }
    }
}