@mixin formBorderRadius{
    background-color: white;
    border-radius: 15px;
}

@mixin imgBorderRadius{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.uiBook{
    
    div{
       @include formBorderRadius();
        img{
            @include imgBorderRadius();
        }
        div{
            h1{
                color: black;
            }
            h2{
                color: black;
            }
            label{
                color: black;
            }
        }
    }
}
.uiBookForm{
        form{
             display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 80%;
                div{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        height: 30px;
                        width: 40%;
                        color: black;
                    }
                    select{
                        width:20%;
                        background-color: white;
                        color: black;
                    }
                    }
                    .specialRequest{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        textarea{
                            width: 98%;
                            height: 100px;
                            resize: none;
                        }
                    
                }
                .btnSubmit{
                    height: 50px;
                    background-color: black;
                    width: 150px;
                    margin-left: auto;
                }
            }
        }
    
}
.reservationDate{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    label{
        margin-right: 10px;
    }
    input{
        width: 30%;
        margin-right: 20px;
    }
    select{
        width: 30%;
        height: 40px;
    }
}


.uiFeedback{
    div{
       @include formBorderRadius();
        img{
            @include imgBorderRadius();
        }
        div{
            h1{
                color: black;
            }
            input{
                color: black;
            }
        }
    }
}

@mixin contactInputs{
    width: 90%;
    height: 50px;
    color: black;
}
.uiContactForm{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       input{
            @include contactInputs();
        &::placeholder{
            color: black;
        }
       }

       button{
        @include contactInputs();
        background-color: black;
        color: white;
       }
    }
}
@media screen and (max-width:600px){
    .uiBookForm{
        form{
            justify-content: space-around;
            div{
                
                height: 70%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-around;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    
                    input{
                        width: 100%;
                    }
                    select{
                        width:100%;
                    }
                }
                  
                }
        }
    }
}